.scrollbar-custom::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #009178;
}

.modal-container {
  background-color: #f4f7fb; /* 배경을 부드러운 색상으로 */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 950px;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #2c3e50;
}

.modal-header button {
  background: none;
  border: none;
  color: #95a5a6;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.2s;
}

.modal-header button:hover {
  color: #2c3e50;
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.reservation-table th,
.reservation-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ecf0f1;
}

.reservation-table th {
  background-color: #ecf0f1;
  font-weight: bold;
  color: #2c3e50;
}

.reservation-table td {
  color: #7f8c8d;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.button-group button {
  padding: 10px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.button-group .edit-btn {
  background-color: #009178;
  color: white;
}

.button-group .edit-btn:hover {
  background-color: #106f5f;
  transform: translateY(-2px);
}

.button-group .cancel-btn {
  background-color: #e74c3c;
  color: white;
}

.button-group .cancel-btn:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}
